/******************************************************************

Description: test
Author: Rafal
URL: www.ar-com.co.uk

******************************************************************/
* {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  overflow-y: auto; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, ul, li, article, aside, figure, footer, header, nav, section {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

body {
  background: #ffffff;
  color: #000000;
  font-family: 'droid_sansregular';
  font-weight: normal;
  font-size: 14px;
  height: 100%;
  line-height: 20px; }

/* headers -----------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  display: block; }

/* links -----------------------------------------------*/
a {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s; }

a:hover {
  color: #2095b6;
  text-decoration: underline; }

/* paragraphs -----------------------------------------------*/
p, address {
  display: block; }

/* general wrapper container -----------------------------------------------*/
.wrapper {
  display: block;
  max-width: 70%;
  margin: 0 auto; }

/* social icons -----------------------------------------------*/
.social-icons {
  display: block;
  float: right;
  overflow: hidden;
  padding: 0;
  white-space: nowrap; }
  .social-icons li {
    float: left;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 10px; }
  .social-icons a {
    background: url("../images/sprite-icons.png") no-repeat 0 0;
    display: block;
    font-size: 1px;
    height: 39px;
    line-height: 1px;
    outline: 0;
    overflow: hidden;
    text-indent: -99999em;
    width: 39px; }
  .social-icons .facebook {
    background-position: 0 0; }
  .social-icons .twitter {
    background-position: 0 -39px; }
  .social-icons .gplus {
    background-position: 0 -78px; }
  .social-icons a:hover {
    opacity: 0.5; }

/* end social icons */
/* header -----------------------------------------------*/
#header {
  clear: both;
  display: block;
  overflow: hidden;
  padding: 15px 0 0 0;
  width: 100%; }
  #header .logo {
    background: url("../images/logo.png") no-repeat 0 0;
    display: block;
    float: left;
    font-family: 'droid_serifregular';
    font-size: 35px;
    font-style: italic;
    line-height: 39px;
    padding: 0 0 0 50px;
    text-decoration: none; }

/* end header */
/* main navigation -----------------------------------------------*/
#nav {
  clear: both;
  display: block;
  overflow: hidden;
  padding: 20px 0 0 0;
  width: 100%; }
  #nav .menu-link {
    background: #f2f2f2;
    border: 1px solid #666666;
    display: none;
    font-size: 22px;
    line-height: 28px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100px; }
  #nav .menu-link:hover {
    border: 1px solid #2095b6;
    text-decoration: none; }
  #nav .menu {
    background: #f2f2f2;
    border: 1px solid #666666;
    clear: both;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 3px; }
  #nav li {
    float: left;
    font-size: 22px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 16%; }
    #nav li a {
      border: 1px solid #f2f2f2;
      display: block;
      line-height: 28px;
      overflow: hidden;
      padding: 0;
      position: relative;
      text-align: center;
      width: 100%;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    #nav li a:hover {
      border: 1px solid #2095b6;
      text-decoration: none; }

/* main section -----------------------------------------------*/
#main {
  clear: both;
  display: block;
  overflow: hidden;
  padding: 30px 0;
  width: 100%;
  /* columns -----------------------------------------------*/
  /* content more links -----------------------------------------------*/
  /* end more links */
  /* widget RHS column -----------------------------------------------*/
  /* end widget */ }
  #main .col-lhs {
    float: left;
    width: 74%; }
  #main .col-rhs {
    float: right;
    width: 24%; }
  #main .content {
    clear: both;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%; }
  #main .pic {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0 0 15px 0;
    width: 100%; }
    #main .pic img {
      float: left;
      width: 100%; }
  #main h1 {
    font-size: 26px;
    line-height: 32px;
    margin: 0;
    padding: 0; }
  #main p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 15px 0; }
  #main .more-links {
    float: right;
    margin: 0 0 20px 20px;
    padding: 0 20px 0 0; }
    #main .more-links h2 {
      font-size: 20px;
      font-weight: bold;
      line-height: 26px; }
    #main .more-links .list {
      list-style-position: inside;
      margin: 0;
      padding: 0; }
  #main .widget {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 5px 5px 20px 5px;
    width: 100%; }
    #main .widget .widget-link {
      border: 1px solid #ffffff;
      clear: both;
      display: block;
      font-size: 22px;
      line-height: 28px;
      overflow: hidden;
      position: relative; }
    #main .widget .widget-link:hover {
      text-decoration: none;
      -webkit-box-shadow: 0 0 5px 0 #9f9f9f;
      box-shadow: 0 0 5px 0 #9f9f9f; }
    #main .widget .heading {
      display: block;
      line-height: 28px;
      margin: 0;
      padding: 0 0 5px 0; }
    #main .widget .pic {
      padding: 0; }

/* end main */
#footer {
  background: #f2f2f2;
  border: 1px solid #666666;
  clear: both;
  display: block;
  margin: 0;
  min-height: 35px;
  overflow: hidden;
  padding: 0;
  width: 100%; }
  #footer .social-icons {
    display: none;
    float: none; }

/* end footer */
@media screen and (min-width: 768px) and (max-width: 900px) {
  .wrapper {
    max-width: 90%; } }
@media screen and (min-width: 0px) and (max-width: 767px) {
  .wrapper {
    max-width: none;
    margin: 0;
    padding: 0 20px;
    width: auto; }

  /* start header */
  #header {
    text-align: center;
    /* navigation */
    /* end navigation */ }
    #header .logo {
      display: inline-block;
      float: none; }
    #header .social-icons {
      display: none; }
    #header #nav .menu-link {
      display: block; }
    #header #nav .menu {
      background: none;
      border: 0;
      display: none;
      padding: 10px 0; }
      #header #nav .menu li {
        border-bottom: 1px solid #666666;
        clear: both;
        display: block;
        float: none;
        overflow: hidden;
        width: 100%; }
      #header #nav .menu a {
        border: 0; }
    #header #nav .menu-link:hover .menu {
      display: block; }
    #header #nav:hover .menu {
      display: block; }

  /* end header */
  /* start main */
  #main {
    padding: 20px 0; }
    #main .col-lhs {
      clear: both;
      display: block;
      float: none;
      overflow: hidden;
      width: 100%; }
    #main .col-rhs {
      display: none; }
    #main .content {
      padding: 0 0 85px 0; }
    #main .more-links {
      bottom: 0;
      display: block;
      float: none;
      left: 0;
      margin: 0;
      position: absolute;
      width: 100%; }

  /* end main */
  /* start footer */
  #footer {
    padding: 10px 0; }
    #footer .social-icons {
      display: block; }
      #footer .social-icons li {
        width: 33%; }
      #footer .social-icons a {
        background-size: 78px 78px;
        height: 26px;
        margin: 0 auto;
        width: 26px; }
      #footer .social-icons .facebook {
        background-position: 0 0; }
      #footer .social-icons .twitter {
        background-position: 0 -26px; }
      #footer .social-icons .gplus {
        background-position: 0 -52px; }

  /* end footer */ }

/*# sourceMappingURL=style.css.map */
